@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $font-montserrat;
  background-color: black !important;
  a {
    color: inherit;
  }

  * {
    color: white !important;
    box-sizing: border-box;
    transition: 0.2s ease-in-out;
  }
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: $dark-gray-color;
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}
